
test
*.suo
semaphore/Debug/semaphore.exe
*.ilk
semaphore/Debug/semaphore.log
*.obj
*.tlog
*.idb
*.pdb
*.exe
*.log
*.ipdb
*.iobj
semaphore/semaphore.VC.db
*.csv
*.opendb

*.plist

*.csv

*.csv

*.csv
vc/semaphore.vcxproj.user
volta.a
